<form action="action_page.php">
    <div class="container">
      <h2>Welcome Customer</h2>
    </div>
  
    <div class="container" style="background-color:white">
      <b>Please enter your household information</b>
      <input type="text" placeholder="Family Sur Name" name="familyName" required>
      <input type="text" placeholder="Number of Family Members" name="numFam" required input type="number">
      <label>
            <p>Please select your Subscription Package </p>
              <input type="radio" name="food" value="Vegetarian" checked>Vegetarian<br>
              <input type="radio" name="food" value="Meat">Meat<br>
              <input type="radio" name="food" value="Vegan">Vegan<br>
              <input type="radio" name="food" value="No Prefrence">No Prefrence<br>
          </label>
    </div>
  
    <div class="container">
      <input type="submit" value="Submit" cclass="form-control btn btn-login">
    </div>
  </form>