
form {
  border: 0px solid #f1f1f1;
}


.container {
  padding: 20px;
  background-color: #f1f1f1;
}


input[type=text], input[type=submit] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



/* Style the submit button */
.btn-register:hover,
input[type=submit] {
  background-color: #59B2E0;
  color: white;
  border: none;

}

input[type=submit]:hover {
  opacity: 1;
  background-color: #1CA347;
}