<form action="action_page.php">
    <div class="container">
        <h2>Food Orders</h2>
    </div>

    <div class="container" style="background-color:white">
        <ul class="list-group">
            <li *ngFor='let user of users' class="list-group-item">{{user.fname}}</li>
        </ul>

        <div style="text-align:center"><h3>Customer Info</h3></div><br>
        <div class="container" style="display:inline-block" width=300px>
        <b>First Name:</b> Christina<br>
        <b>Last Name:</b> Edmunds<br>
        <b>Address:</b> 100 Happy Ln, Cincinnati, OH, 45205<br>
        <br>
        <b>Active Subscription:</b> Vegetarian<br>
        <b>Status:</b> New<br>
        </div>
    </div>
</form>