<form action="action_page.php">
    <div class="container">
        <h2>Food Orders</h2>
    </div>

    <div class="container" style="background-color:white">
        <ul class="list-group">
            <li class="list-group-item">sub 1</li>
            <li class="list-group-item">sub 2</li>
        </ul>

        <div style="text-align:center"><h3>Customer Info</h3></div><br>
        <div class="container" style="display:inline-block" width=300px>
        First Name:<br>
        Last Name:<br>
        Address:<br>
        <br>
        Active Subscription:<br>
        Status:<br>
        </div>

        <input type="button" value="Complete Order"/>
    </div>
</form>